body {
    text-align: left;
}

form {
    display: inline-block;
}

input[type="text"] {
    height: 50px;
    outline: none;
    border: 1px solid #ddd;
    resize: horizontal;
}

input[type="text"]:focus {
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
    border: 1px solid #ddd;
}

input[type="submit"] {
    height: 25px;
    outline: none;
    border: 1px solid #ddd;
    resize: horizontal;
}

::placeholder {
    color: black;
    opacity: 1;
}
